# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Node
node_modules/
dist/

# Build
*.egg-info/

# Docker
.docker/